// Backgrounds:
$primary-bg: #212121;
$secundary-bg: #141414;
$tertiary-bg: #3D3D3D;

// Highlight
$highlight: #5afed7;

// Text
$lightest-text: #F5F5F5;
$light-text: #DDDDDD;
$text: #CCCCCC;

// Other colors
$hamburger: #FFF;
