// $primary-bg: rgba(10, 25, 47, 0.85);
// $primary-bg: #091833;
// $primary-bg: #120052;
// $primary-bg: rgb(17, 34, 64);
$primary-bg: #0A192F;

// $secundary-bg: #133E7C;
$secundary-bg: #112240;
// $secundary-bg: rgb(17, 34, 64);


$highlight: #64FFDA;
// $highlight: #EA00D9;
// $highlight: #0ABDC6; 
// $highlight: #B537F2;
// $highlight: #E92EFB;
// $highlight: #ff0066;

$lightest-slate: #CCD6F6;

$hamburger: #FFF;

// NEON PALETTE
$violet: #711C91;
$purple: #EA00D9;
$celeste: #0ABDC6;
$blue: #133E7C;
$dark-blue: #091833;