// Backgrounds:
// $primary-bg: #0A192F;
// $secundary-bg: #112240;
// $tertiary-bg: #233554;

// Highlight
$highlight: #5afed7;
// $highlight: rgb(255, 227, 18); //arancione chiaro

// Text
// $lightest-text: #CCD6F6;
// $light-text: #A8B2D1;
// $text: #8892B0;

// Shadows
$shadow: rgba($color: #141414, $alpha: 0.7);

// Other colors
$hamburger: #FFF;

// NEON PALETTE
$violet: #711C91;
$purple: #EA00D9;
$celeste: #0ABDC6;
$blue: #133E7C;
$dark-blue: #091833;

// ALTERNATIVE PALETTE
$primary-bg: #212121;
$secundary-bg: #141414;
$tertiary-bg: #3D3D3D;
// $highlight-light: #FFC95C; // very light
// $highlight-light: #FFC95C; //light
// $highlight: #FFBA31; //medium
// $highlight: #FFAF0A; //dark
// $highlight: #f4972c; //very dark <---
$lightest-text: #F5F5F5;
$light-text: #DDDDDD;
$text: #CCCCCC;