@import './variables';
@import './mixins';

@import './variables';
@import './mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  color: $highlight;
  font-style: normal;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: $primary-bg;
  margin-top: 100px;
  user-select: none;
  min-height: 100vh;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 150px;
  // border: 1px solid red;
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
  width: 100%;

  .section-title {
    margin: 10px 0 40px 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    color: $lightest-slate;
    display: flex;
    align-items: center;
    text-align: left;

    &::before {
      display: block;
      font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
      color: $highlight;
      font-weight: 400;
      font-size: 24px;
      margin-right: 10px;
    }

    &::after {
      content: "";
      display: block;
      flex-grow: 1;
      height: 1px;
      margin-left: 20px;
      background-color: rgba($color: $light-slate, $alpha: 0.3);
    }
  }
}

@media screen and (max-width: 1080px) {

  .container {
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {

  .container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 480px) {

  .container {
    padding: 0 25px;
  }
}